<div id="app-players-table" class="container">
    <div *ngFor="let player of players$ | async; index as index">
        <button mat-fab extended [style.background-color]="player.backgroundColour" (click)="removePlayer(player)">
            {{player.name}} spent £{{player.mealCost}}
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div id="app-players-table-play-game" *ngIf="(players$| async) as players">
    <button id="app-players-table-play-game" type="button" color="primary" mat-fab extended [disabled]="players.length < 2">
        <mat-icon aria-hidden="false" aria-label="Add icon" fontIcon="credit_card" color="basic" />
        Play Game
    </button>
</div>