@use '../../theme-variables' as theme;

h4 {
    margin-left: 5%;
    color: theme.$dull-black;
}

h4:before, h4:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}

h4:after {
margin: 0 -55% 0 .5em;
}

.mat-headline-4, .mat-typography .mat-headline-4 {
    margin: 20px 0 0;
}