@use '../../../theme-variables.scss' as theme;

form {
    margin-bottom: 40px;
    padding: 40px;
    border: 2px solid theme.$dull-primary;
    border-radius: 10%;
}

#app-player-form-player-name-field, #app-player-form-meal-cost-field {
    margin-bottom: 10px;
}